@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap");

body {
  font-family: "Alexandria";
}

.header {
  margin: 15px 40px;
}

.input {
  padding: 4px 8px;
}

input::placeholder {
  padding: 8px;
  font-family: "Alexandria", "Arial";
}

input:focus {
  outline: none;
}

.inputContainer {
  position: relative;
}

.lupaIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

button:hover {
  cursor: pointer;
  opacity: 60%;
}

.main {
  margin: 60px 24px;
}

.imgContainer {
  border-radius: 20px;
}

.card {
  padding: 20px;
}

.buttonContent {
  padding: 4px 18px;
}

.estacao {
  padding: 10px;
}
